@charset "UTF-8";

@media screen and (min-width:637px){
    header{
        font-size: 1.3em;
        border-bottom: 4px solid white;
    }
    header > nav{
        display: flex;
        justify-content: space-around;
    }
    header > nav > section{
        width: 160px;
    }
    section#s1{
        display: none;
    
    }
    #menuFlutuante{
        display: none;
    }
    main{
        position: relative;
    }
    nav#menupc{
        text-shadow: 1px 1px 3px black;
        padding: 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: red;
        border-bottom: 4px solid white;
    }
    nav#menupc section#menupcS1{
        width: 79%;
        margin-right: 10px;
    }
    nav#menupc > section  menu{
        margin-left: 30px;
        width: 90%;
    }
    nav#menupc  > section  menu ul{
        display: flex;
        justify-content: space-between;
    }
    nav#menupc > section  menu ul li{
        margin-left: 6px;
        list-style: none;
        
    }
    nav#menupc a{
        color: white;
        text-decoration: none;
        transition: border .1s;
    }
    nav#menupc a:hover{
        color: aqua;
        border-bottom: 3px solid aqua;
    }
    nav#menupc div#pesquisar{
        width: 180px;
        height: 27px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 6px;
        position: relative;
        background-color: black;
    
    }
    nav#menupc div#pesquisar > input{
        top: 50%;
        left: 50%;
        border: 0;
        height: 90%;
        width: 100%;
        margin-top: .4px;
        font-size: 1.2em;
        border-radius: 6px;
        position: absolute;
        margin-bottom: 1.1px;
        transform: translate(-50%,-50%);
        background: white url(../img/lupa.png) no-repeat right;
        background-size: contain;
    }
    section#templates{
        margin: auto;
        padding: 10px;
        max-width:1000px;
        display:block;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
        background-color: pink;
     
       
        
    }
    section#templates > div.product{
        display: inline-block;
    }
    section#templates > div.product:hover{
        transform: scale(1.07);
    }
    
    
}