@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    font-weight: bolder;
    height: 60px;
    color: white;
    padding: 10px;
    background-color: black;
    
}
header #burguer{
    cursor: pointer;
}
header > nav{
    display: flex;
    justify-content: space-between;
}
header > nav > section{
    display: flex;
    height: 40px;
    width: 120px;
    margin: 8px;
    text-align: center;
    align-items: center;
    border: 1px solid white;
    justify-content: center;
}
nav#menupc{
    display: none;
}