@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    font-size: 1.1em;
    font-weight: bolder;
    height: 60px;
    color: white;
    padding: 10px;
    background-color: black;
    
}
header #burguer{
    cursor: pointer;
}
header > nav{
    display: flex;
    justify-content: space-between;
}
header > nav > section{
    display: flex;
    height: 40px;
    width: 120px;
    margin: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header > nav > #administrador{
    display: none;
}
header > nav > #administrador > abbr > span{
    cursor: pointer;

}
nav#menupc{
    display: none;
}
#menuFlutuante{
    display: flex;
    width: 88%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: darkblue;
    justify-content: space-between;
}
#menuFlutuante section{
    border: 1px solid white;
    height: auto;
    
}
#menuFlutuante  ul {
    display: flex;
    flex-direction: column;

}
#menuFlutuante li{
    cursor: pointer;
    width: 100%;
    display: block;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: red;
    border: 1px solid white;
}
#menuFlutuante a{
    color: white;
    text-decoration: none;
}
#menu{
    width: 100%;
}
#menu a{
    display: block;
    width: 100%;
    height: 100%;
}
#Painel{
    cursor: pointer;
    height: auto;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;
}
#Painel > div{
    display:flex;
    color: white;
    height: 300px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
}
#Painel > div > span{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
#Painel > div > p{
    top: 50%;
    left: 50%;
    font-size: 1.3em;
    transform: translate(-50%,-50%);
    position: absolute;

}
.voltar{
    width: 100%;
    display: block;
    text-align: right;
}
.btni_voltar{
    padding: 20px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    background-color: orangered;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
#paineladministrador{
    padding: 10px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    max-width: 500px;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid black;
    transform: translate(-50%,-50%);
    background-color: blueviolet;
}
#paineladministrador > section{
    border: 1px solid white;
    margin-bottom: 10px;
}
#selecionarIten{
    height: 33%;
}
#selecionarIten > select{
    margin: auto;
    display: block;

}
#estlização{
    height: 40%;

}
#salvar{
    display: flex;
    height: 20%;
    align-items: end;
    justify-content: end;
}
#salvar div{
    border: 1px solid white;
    height: 40px;
    width: 100px;
    background-color: red;
}
#salvar div input{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 0;
    color: white;
    font-weight: bolder;
    background-color: blue;

}