@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#2d2d2d;
    --cor2:#1E1E1E;
    --cor3:#454545;
    --cor4:#0085ff;
    --cor5:#006fff;


}
a{
    color: white;
    text-decoration: none;
}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

}
header{
    font-size: 1.1em;
    font-weight: bolder;
    height: 60px;
    color: white;
    padding: 10px;
    background:linear-gradient(to top ,var(--cor2),var(--cor3),var(--cor1));
    
}
.fixar{
    position: fixed;
    top:0;
    width: 100%;
}
header #burguer{
    cursor: pointer;
}
header > nav{
    display: flex;
    justify-content: space-between;
}
header > nav > section{
    display: flex;
    height: 40px;
    width: 120px;
    margin: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
nav#menupc{
    display: none;
}
#menuFlutuante{
    display: flex;
    width: 98%;
    min-height: 100vh;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: darkblue;
    justify-content: space-between;
}
#menuFlutuante section{
    height: auto;
    
}
#menuFlutuante  ul{
    display: flex;
    flex-direction: column;

}
#menuFlutuante li{
    cursor: pointer;
    width: 100%;
    display: block;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: var(--cor2);
    border: 1px solid white;
}
#menuFlutuante a{
    color: white;
    text-decoration: none;
}
section#menu{
    width: 100%;
}
section#menu a{
    width: 100%;
    height: 100%;
    display: block;
}
section.voltar{
    width: 100%;
    display: block;
    text-align: right;
}
#btn-voltar{
    padding: 10px;
    margin-right: 20px;
  
}
span.btni_voltar{
    padding: 20px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    background-color: orangered;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
section#templates{
    padding: 10px;
    width: 90%;
    display: flex;
    cursor: pointer;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    
}
section#templates > div.product{
    margin-top: 20px;
    max-width:290px;
    height:400px;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 10px;
    display:inline-block;
    border: 2px solid black;
    transition: transform 1s;
    background-color: blue;
}
section#templates > div.product > section{
    width: 100%;
    border: 1px solid white;

}
section#templates >div.product > section.seção1{
    height: 48%;

}
section#templates >div.product > section.seção1 > img{
    height: 100%;
    width: 100%;

}
section#templates >div.product > section.seção2{
    height: 35%;
    width: 100%;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-indent: 28px;
    text-align: justify;
    color: white;
    padding: 3px;

}
section#templates >div.product > section.seção2 > p{
    text-align: center;
    line-height: 27px;
    max-width: 98%;
    padding: 2px;
    margin-top: 3px;
}
section#templates >div.product > section.seção3{
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;

}
section#templates >div.product > section.seção3 > p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: red;
}
section#templates >div.product > section.seção3 > p:active{
    background-color: #c01919;
}
section#templates >div.product > section.seção3 > p > a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    font-size: 1.2em;

}